@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


 .principal {

    background-color: antiquewhite;
    text-align: center;
    width: 50%;
    margin: 0 auto;
 }

 h1 {
    font-family: "Montserrat", sans-serif;
 }

 h2 {
    color: dodgerblue;
 }

 .conteudo,.post{
     font-family: "Roboto", sans-serif;
     color: tan;
 }