.conteudo{
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin: 0% auto;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card{
    background-color: aqua;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    justify-content: center;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
