@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

body {
    background-color: #2c3e50;
    font-family: "Playwrite NZ Basic", cursive;
}
h3{
    color: #f1c40f;
}
h2 {
    color: black;
    border-style: groove;
    border-color: black;
}
.dias{
    color: black;
}
.soft{
    color: red;
}
ul{
    color: aliceblue;
}
#cabecalho {
    background-color: #f1c40f;
}